<p-toast></p-toast>
<p-table
    [value]="product"
    [columns]="columnHeadProducts"
    styleClass="p-datatable-gridlines"
    editMode="row"
    dataKey="supplierid"
    [tableStyle]="{ 'min-width': '50rem' }"
>
    <ng-template pTemplate="caption"> Lista de productos </ng-template>
    <ng-template pTemplate="header" let-column>
        <tr>
            <th style="width: 10%" *ngFor="let col of column">
                {{col}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="product">
            <td>
                {{product.companyname}}  
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="product.productname">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{product.productname}}
                    </ng-template>
                </p-cellEditor>   
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="product.averageprice">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{product.averageprice}}
                    </ng-template>
                </p-cellEditor>   
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="product.selectioncriteriaid">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{product.selectioncriteriaid}}
                    </ng-template>
                </p-cellEditor>   
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="product.activityid">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{product.activityid}}
                    </ng-template>
                </p-cellEditor>   
            </td>
            <td>
                <div class="flex align-items-center justify-content-center gap-2">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(product)" class="p-button-rounded p-button-text"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(product,ri)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(product, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>